:root {
  /* Шрифт */
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Цвет текста */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-accent-color: #2196f3;
  --secondary-accent-color: #ffffff;
  --header-logo-color: #000000;
  --footer-item-color: rgba(255, 255, 255, 0.6);

  /* Фон */
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --additional-background-color: #f5f4fa;
}

/* Body */

body {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  max-width: 100%;
}

img {
  display: block;
}

.link {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}
.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;

  /* outline: 1px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Стиль Лого */

.logo-primary,
.logo-secondary,
.footer-logo-secondary {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--primary-accent-color);
}
.logo-secondary {
  color: var(--header-logo-color);
}
.footer-logo-secondary {
  color: var(--secondary-accent-color);
}

/* Хедер */

.header {
  /* box-sizing: border-box; */
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-container .logo {
  margin-right: 93px;

  /* outline: 1px solid tomato; */
}

.nav-list {
  display: flex;
}

.nav-item {
  display: flex;
  margin-right: 50px;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item:hover,
.nav-item:focus {
  color: var(--primary-accent-color);
}

.nav-item > .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* outline: 1px solid tomato; */
}

.nav-list .link.current {
  color: var(--primary-accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.contact-item {
  color: var(--secondary-text-color);

  /* outline: 1px solid tomato; */
}

.contact-item:hover,
.contact-item:focus {
  color: var(--primary-accent-color);
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  /* outline: 1px solid tomato; */
}
/* Герой */

.hero.section {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--secondary-background-color);
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-accent-color);

  /* outline: 1px solid tomato; */
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  /* align-items: center;
  text-align: center; */
  letter-spacing: 0.06em;

  color: var(--secondary-accent-color);

  background-color: var(--primary-accent-color);
  cursor: pointer;

  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Особенности */

.feature-list {
  display: flex;
}

.feature-item {
  min-width: 270px;

  /* outline: 1px solid tomato; */
}

.feature-item:not(:last-child) {
  margin-right: 30px;
}

.feature-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* Услуги и Команда*/

.services.section {
  padding-top: 0;
}

.services-title,
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  /* outline: 1px solid tomato; */
}

.services-list {
  display: flex;
}

.services-item {
  /* outline: 1px solid tomato; */
}

.services-item:not(:last-child) {
  margin-right: 30px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-background-color);

  /* outline: 1px solid tomato; */
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-txt {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;

  /* outline: 1px solid tomato; */
}

.team-subtitle {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.team-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.team {
  background: var(--additional-background-color);
}

/* Футер */

.footer.section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-background-color);
}

.footer-container .logo {
  display: block;
  margin-bottom: 20px;
}

.location,
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;

  letter-spacing: 0.03em;

  color: var(--secondary-accent-color);
}

.location {
  display: block;
  margin-bottom: 9px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link {
  color: var(--footer-item-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--primary-accent-color);
}
/* Портфолио */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--additional-background-color);
  cursor: pointer;

  border: none;

  /* outline: 1px solid tomato; */
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--primary-accent-color);
}

.btn-txt:hover,
.btn-txt:focus {
  color: var(--secondary-accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  /* flex-basis: calc(100% / 3 - 30px); */
  flex-basis: calc(100% - 60px) / 3;

  margin-right: 30px;
  margin-bottom: 30px;

  /* border: 1px solid #eeeeee; */

  /* outline: 1px solid tomato;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; */
}

/* .portfolio-img {
  overflow: hidden;
} */
.txt-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}

.portfolio-desc {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* visually-hidden */

.feature-title,
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
